h1 {
    color:blue;
    }
    
    .header{
    background-color:cyan;
    display:flex;
    justify-content:space-between;
    }
    .grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    }
    .footer{
        display:flex;
        justify-content:flex-end;
    }
    h2{
    text-align:center;
    }
    p{
    text-align: center;
    }
    body{
       background-color:#808080;
       font-style: italic;
       font-weight: bold;
       font-size: large;
       
    }